<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\Email.dll"
                hostingModel="OutOfProcess"
                stdoutLogEnabled="true"
                stdoutLogFile=".\logs\stdout"
                requestTimeout="00:20:00"
                />
  </system.webServer>
</configuration>
